<% form_for @customer do |f| %>
    <%= f.error_messages %>
    <p>
      <%= f.label :name %><br />
      <%= f.text_field :name %>
    </p>
    <div id="new_investments"> Investments:
      <% f.fields_for :investments do |builder| %>
          <%= render 'investment_fields', :inv_f => builder %>
      <% end %>
    </div>
    <p><%= link_to "Add Investment" , {}, :class => "new_investment"%></p>
    <p><%= f.submit "Submit" %></p>
<% end %>
