<% form_for @customer do |f| %>
    <%= f.error_messages %>
    <p>
      <%= f.label :name %><br />
      <%= f.text_field :name %>
    </p>
    <% f.fields_for :investments do |builder| %>
        <p>
          <%= builder.label :investment_name, "Investment Name" %><br />
          <%= builder.text_field :investment_name %><br />
          <%= builder.label :investment_amount, "Investment Amount" %><br />
          <%= builder.text_field :investment_amount %><br />
          <%= builder.label :investment_apy, "Investment APY" %><br />
          <%= builder.text_field :investment_apy %><br />

        </p>
    <% end %>
    <p><%= f.submit "Submit" %></p>
<% end %>
