
<p class="specific_investment">
  <%= inv_f.label :investment_name, "Investment Name" %><br />
  <%= inv_f.text_field :investment_name %><br />
  <%= inv_f.label :investment_amount, "Investment Amount" %><br />
  <%= inv_f.text_field :investment_amount %><br />
  <%= inv_f.label :investment_apy, "Investment APY" %><br />
  <%= inv_f.text_field :investment_apy %><br />
  <%= inv_f.hidden_field(:_destroy) %><%= link_to "Delete Investment" , {}, :class => "delete_investment"%><br />
</p>