<% title "Customer" %>

<p>
  <strong>Name:</strong>
  <%=h @customer.name %>
</p>
<ol>
  <% for invest in @customer.investments %>
      <li><%= h invest.bank %>;<%= h invest.investment_name %>;<%= h invest.investment_amount %> invested;<%= h invest.investment_apy %>%;<%= h invest.investment_years %>years;<%= h number_with_precision(invest.compound_interest_years, :precision => 2) %> Interest Earned; <%= h number_with_precision(invest.average_interest_monthly, :precision => 2) %> Average Monthly Income</li>
  <% end %>
</ol>


<p>
  <% if permitted_to? :edit, :customers %>
      <%= link_to "Edit", edit_customer_path(@customer) %>
  <% end %>
  <% if ((permitted_to? :destroy, :customers) && (permitted_to? :delete, :investments)) %>
      <%= link_to "Destroy", @customer, :confirm => 'Are you sure?', :method => :delete %>
  <% end %>
  <%= link_to "View All", customers_path %>
</p>



